 * {
 margin: 0

}
 .App {
  text-align: center;
  padding: 0;
  background-color: rgba(0, 0, 0, 0.897); 
  min-height:100vh;
  color:#fff;
  font-family: arial;
  margin-bottom:0;
  min-width:100vw;
} 

 .App-logo {
  height: 40vmin;
  pointer-events: none;
} 
/*

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}  */

 .App-header {
  background-color: #282c342f;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} 

 .App-link {
  color: #61dafb;
} 


 form {
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  display: inline-flex;
  flex-direction: column;
}

input {
  height: 30px;
  font-size: 16px;
text-align:center;
  border-radius: 4px;
  border:0.5px solid white;
}

button {
  width: 150px;
  padding: 5px 20px;
  border-radius: 10px;
  background-color:transparent;
  margin: 0 auto;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 16px;
}

a {
  text-decoration: none;
  color:#fff;
}

li {
  list-style: none;
}


.nav-style ul {
  display:flex;
  flex-direction: row;
  
}

.nav-style li {
  padding:23px 25px;
  display:flex;
  align-items: center;
 
}

.nav-style span {
  padding:20px 65px 20px 25px ;
  display:flex;
  align-items: center;;
}

#logout-btn {
  text-align: right;
  position: absolute;
  right: 1%;
} 

 #myEmbeddedScene {
  height:80vh;
  width:80vw;
  margin:0 auto;
  background-color:#fff
}

.container {
  width: 88vw;
  padding:0.5em 0em;
  border-radius:5px;
  color:black;
  margin:45px auto;
  /* background-color:#f6f4f7; */
  background-color:transparent;
  /* -webkit-box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2);
  -moz-box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2);
  box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2); */
  display:flex;
  flex-direction:row;
 
  align-items:center;
}


#edit-wrapper {
  display:flex;
  width:80%;
  margin:0px auto;
  
}

.profile-details {
  margin:0 auto;
  font-size:15px;
  /* border:1px solid grey; */
  padding:10px 0.5em;
  color:white;
  background-color:transparent;
  
}

#profile-wrapper{
  padding-bottom:1em;


}

button {
cursor:pointer;
}

.extra-details {
  border-radius:5px;
  border:none;
  display:flex;
  flex-direction:column;
}

#create-btn {
  width: 15em;
  height: 3em;
  color:#fff;
  border:black;
  background-color:#2ab193e5;
}

#create-delete {
  display:flex;
  flex-direction:column;
}

#delete-btn {
  float:right;
  display:block;
  border:none;
 
}

#edit-profile-form {
  display:none;
  
}

#upload {
  display:none
}

#edit-profile-form input {
  display:flex;
  flex-direction:column;
}

.env {
  display:flex;
  flex-direction:row;
  
}

#wrapper {
 
  background-size:70vw;
  background-repeat: no-repeat;
  background-position: center;;
  padding-bottom:35px;
  margin-top:-50px

}

.env h3, a {
  text-align:left;
}

.env a {
  margin-bottom:25px;
}

#create-comment {
  background-color:transparent;
  border-bottom:1px solid grey;
  text-align:left;
}

#search-input {
  width:26vw;
  height: 2em;
  background-color:#fff;
  border:none;
  padding-left:1vw;
  border-radius:5px;
  text-align:left;
  margin-left:3vw;
}

#comments-wrapper {
  color:black;
  text-align:left;
  padding:30px;
  width:70%;
  margin:50px auto;
  background-color:#F6F4F7;
  border-radius:5px;
  -webkit-box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2);
  -moz-box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2);
  box-shadow: 4px 4px 3px 2px rgba(255,255,255,0.2);
  
}

#comments-wrapper form {
  display:flex;
  flex-direction:row;
  border:none;
}


#comments-wrapper input {
  width:70%;
}

.comment {
text-align:left;
color:black;
margin:20px;
} 

#search-button {

  border-radius:5px;
  color:#fff;
  
  background-color:#2ab193e5;
  padding:7px 0px;
  display:flex;
  align-items:center;
  justify-content:center;
}

#search-bar {
  display:flex;
  /* justify-content: flex-end; */
  flex-direction: row;
  width:50%;
}

.comment h3 {
  color:black;
}

nav {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  width:100vw;
}

.nav-style button{
  color:white;
  border:none;
  background-color:transparent;
}


.vrscene {
  margin-top:10px;
}

.vrscene-h1 {
  padding:17px 0px 30px 0px;
  text-align:left;
  width:80%;
  margin:0 auto;
  display:flex;

}

#vrscene-theme {
  text-align:right;
  
}

#logo {
  color:rgba(65, 218, 185, 0.897); 
  color:rgba(36, 196, 175, 0.897);
  font-size:20px;

}

#user-details {
  margin-top:10px;
  /* display:flex;
  flex-direction:column; */
}

.one-user {
  display:flex;
  flex-direction:column;
  padding:20px 25px ;
  text-align:center;
 justify-content: center;
 width: 70%;
 margin: 0 auto;

}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  transition: .5s ease;
  opacity:0;
  color: white;
  font-size: 20px;
  padding: 20px 0;
  text-align: center;
}

.containers:hover .overlay {
  opacity: 1;
}

.containers {
  position: relative;
  width: 70%;
  margin:0 auto
}


.one-user  h3 {
 margin:0 auto;
}

#user-name {
  display:flex;
  flex-direction:row;
  justify-content:center;
  align-items:center;
  margin-top:50px;
  padding-left:0;
}

.comments-btns {
  border-radius:0;
  margin:0 0.5vw;
}

footer{
  padding: 2.1em 0;
  display:flex;
  background-color:black;
  align-items:center;
  flex-direction:column;
  color:#2ab193e5;
  font-weight:600;
  font-size:13px
} 

#dropdown {
  background-color:white;
  padding:5px;
  margin:30px 0;
}

#sign-up label{
 margin-top:2vh;
  
  margin-bottom: 1vh;

}

#log-in label{
  margin-top:2vh;
   
   margin-bottom: 1vh;
 
 }


#sign-up {
  display:flex;
}

#sign-up input {
  margin:0 auto;
}


 @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
